.container {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  border: solid #EFC83B 3px;
  background-color: #FCF6E2;
}

.content {
  padding: 1rem;
  font-size: 3rem;
  color: #EFC83B;
  border: solid #EFC83B 3px;
  background-color: #FCF6E2;
  text-decoration: none;
}

.content > a:visited {
  color: #EDD16A;
}

.content > a:hover {
  color: #FAC503
}
