html {
  background-color: white;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 250;
}

h1 h2 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}


/*  ---GRID---  */

.grid {
  display: grid;
}


/*  ---CONTAINERS---  */

.container {
  position: relative;
  display: flex;
}

.c-fullwidth {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
}

.c-fullwidth-content {
  padding: 2rem;
  font-size: 3.5rem;
}

.c-feature {
  margin: 5rem auto;
  width: 80%;
  border: solid #9B9B9B 3px;
}

.c-feature-content {
  padding: 1em;
  text-align: center
}

.c-fullwidth-image {
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.c-thumbnail {
  display: flex;
  border-radius: 20px;
  margin: 3rem auto;
  max-width: 30%;
}

.c-thumbnail-content {
  padding: 1em;
  text-align: center
}

.c-thumbnail-img {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

#thumbnail-row {
  grid-template-columns:3fr 3fr 3fr;
  padding-top: 3rem;
}

.yellow {
  border: solid #EFC83B 3px;
  background-color: #FCF6E2;
  color: #EFC83B;
}

.white

/*  ---THUMBNAILS---  */

.b-primary {
  background-color: #9572A2;
  border-radius: 25px;
  width: 50%;
}

/*  ---HEADER---  */

#header {
  grid-template-columns:1fr 4fr 6fr;
  background-color:rgb(114, 132, 94);
  box-shadow: 0px 30px 20px black ;
}

#header-img {
  width: 70px;
  height: 70px;
}

#header-title {
  display: flex;
  float: left;
  color: #EDD16A;
}

#header-menu {
  float: left;
  margin-left: 20%;
}

.menu-item {
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: large;
}

.menu-item:visited {
  color: #EDD16A;
}

.menu-item:hover {
  color: #FAC503
}

