.container {
  display: flex;
  border-radius: 20px;
  margin: auto 3rem;
  background-color: white;
}

.image {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

.title {
  color: #EDD16A;
  font-size: 20px;
  padding-top: 1em;
}

.content {
  color: #A7A49B;
  padding: 1.5em;
  text-align: center;
  margin: auto;
}