.container {
  display: flex;
  border-radius: 20px;
  margin: auto 3rem;
}

.image {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

.content {
  padding: 1em;
  text-align: center;
  margin: auto;
}